<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eDnevnik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eDnevnik1.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column h-100 bg-light">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eDnevnik</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Ucenici" asp-action="Index">Učenici</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Nastavnici" asp-action="Index">Nastavnici</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Predmeti" asp-action="Index">Predmeti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Razredi" asp-action="Index">Razredi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Roditelji" asp-action="Index">Roditelji</a>
                            </li>
                        }

                        @if (User.IsInRole("Administrator") || User.IsInRole("Nastavnik") || User.IsInRole("Ucenik") || User.IsInRole("Roditelj"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Chat" asp-action="Index">Chat</a>
                            </li>
                        }
                        @if (User.IsInRole("Nastavnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Ocjena" asp-action="Razredi">Ocjene</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3 flex-grow-1">
        @{
            var path = Context.Request.Path.ToString().ToLower();
            var isLoginPage = path.Contains("/account/login");
        }

        <div class="@(isLoginPage ? "" : "container")">
            @RenderBody()
        </div>
    </main>


    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - eDnevnik - Tim1 - RI KURS&reg;
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
