@model eDnevnik.Models.Cas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Termin" class="control-label"></label>
                <input asp-for="Termin" class="form-control" />
                <span asp-validation-for="Termin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazredId" class="control-label"></label>
                <select asp-for="RazredId" class ="form-control" asp-items="ViewBag.RazredId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PredmetId" class="control-label"></label>
                <select asp-for="PredmetId" class ="form-control" asp-items="ViewBag.PredmetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NastavnikId" class="control-label"></label>
                <select asp-for="NastavnikId" class ="form-control" asp-items="ViewBag.NastavnikId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
