@model eDnevnik.Models.Cas

@{
    ViewData["Title"] = "Dodaj čas";
}

<h3 class="mb-3">Dodaj novi čas</h3>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Termin" class="form-label"></label>
        <input asp-for="Termin" type="datetime-local" class="form-control" />
        <span asp-validation-for="Termin" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RazredId" class="form-label"></label>
        <select asp-for="RazredId" class="form-select" asp-items="ViewBag.RazredId"></select>
        <span asp-validation-for="RazredId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PredmetId" class="form-label"></label>
        <select asp-for="PredmetId" class="form-select" asp-items="ViewBag.PredmetId"></select>
        <span asp-validation-for="PredmetId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NastavnikId" class="form-label"></label>
        <select asp-for="NastavnikId" class="form-select" asp-items="ViewBag.NastavnikId"></select>
        <span asp-validation-for="NastavnikId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Spasi</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
