@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Zabranjen pristup";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vaša uloga nema pristup ovom servisu.</p>
</header>
